* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root {
  --copy-font: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  --bg-green: hsl(94 20% 35%)
}

body {
  display: flex;
  justify-content: space-around;
}

@font-face {
  font-family: norse-bold;
  src: url(./fonts/norse-bold.otf);
}

.left {
  display: flex;
  flex-direction: column;
  flex: 1;
  height: 100vh;
  background-image: url("./images/fern.avif")
}

.logocontainer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem 10rem;
  margin: 20vh 0;
  background: hsl(0 0% 10% / 70%);
}

.logoimage {
  flex: none;
  height: 10rem;
  width: auto;
}

.logotext {
  color: white;
  font-family: norse-bold, sans-serif;
  font-size: 8rem;
  flex: 1
}

.right {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  flex: 1.8;
  height: 100vh;
  margin: auto;
  background-color: hsl(0 0 95%);
  font-family: var(--copy-font);
}

.info, .submit, .inputsection {
  padding: 2rem 3rem;
}

.info p, .inputsection p{
  margin-bottom: 1rem;
  font-size: 1.5rem;
  font-weight: 500;
}

.inputsection, .formcontainer {
  background-color: white;
  width: 100%;
}

.formcontainer {
  display:flex;
  flex-wrap: wrap;
}

.field {
  display: flex;
  flex-direction: column;
  flex: 1 1 50%;
  justify-content: flex-end;
}

.field:last-child {
  align-self: flex-start;
}

@media(max-width: 400px) {
  .field {
    flex: 1 1 100%;
  }
}

input {
  appearance: none;
  padding: 0.25rem 0.5rem;
  margin: 0.25rem 0 1rem;
  border: 1px solid hsl(220 13% 91%);
  border-radius: 4px;
}

input:hover {
  background: hsl(0 0 98%);
}

input:focus-visible {
  outline: none;
  box-shadow: 3px 3px 3px hsl(0 0 90%);
  border: 1px solid blue;
}

label {
  font-size: 0.7rem;
  letter-spacing: 0.1rem;
}

#useremail:invalid, #userphone:invalid, #password1:invalid, #password:invalid {
  border: 1px solid hsl(0, 100%, 45%);
}

button {
  background: var(--bg-green);
  color: white;
  border: none;
  border-radius: 0.5rem;
  padding: 1rem 3rem;
  margin-bottom: 2rem;
  font-family: inherit;
  font-size: 1rem;
  box-shadow: 5px 5px 5px hsl(0 0 80%);
}

a {
  text-decoration: none;
  color: var(--bg-green);
}